Highlights{
    font-family: 'Trochut', cursive;
}

body
{
    background-color: lavender;
}

#content ul 
{
    background-color: aliceblue;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

#salesH
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    border-color: black;
    border-style: solid;
    border-width: 10px;

}

#description
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}

table{
    border: 1px solid black;
    border-style: solid;
    border-spacing: 20px;
    text-align: left;
    margin-right: 20px;

}

tr{
    padding: 20px;
    margin-bottom: 20px;

}
td
{
    text-align: left;
}

div
{
    float: left;
}

#formHeading
{

    font-size: 40px;
    font-weight: bold;

}

#forms
{

    box-sizing: border-box;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 200px;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;

}
#forms :focus
{
background-color: lightgoldenrodyellow;

}

#button
{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}